<html>
	<head>
		<title>Submit Another Word?</title>
	</head>
	<body>
		<div class="header">
			<h1>Would you like to submit another word?</h1>
		</div>
		<div class="form">
			<form method="POST" enctype="multipart/form-data">
				<input type="hidden" name="choice" value="0">
				<input class="button" type="submit" value="Yes">
			</form>
		</div>
		<div class="form">
			<form method="POST" enctype="multipart/form-data">
				<input type="hidden" name="choice" value="1">
				<input class="button" type="submit" value="No">
			</form>
		</div>
	</body>
</html>
