<html>
	<head>
		<title>Submit a Word</title>
	</head>
	<body>
		<div class="header">
			<h1>Submit a Word</h1>
		</div>
		<div class="form">
			<form method="POST" enctype="multipart/form-data">
				<input type="text" placeholder="Word" name="word_name">
				<input type="text" placeholder="First name" name="student_fname">
				<input type="text" placeholder="Last name" name="student_lname">
				<input type="text" placeholder="E-mail" name="student_email">
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>
